@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {
    --title_size: 5vw;
    --parag_size: 4.5vw;
    --margenes: 0 2rem 0 2rem;
    --poppins: 'Poppins', sans-serif;
    --clicker: 'Clicker Script', cursive;
    --color_claro: #FECD84;
    --color_oscuro: #FEBC5B;
    --color_secundario: #925028;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}



/* Seccion Uno (Hero) */
.Seccion_uno {
    width: 100%;
    height: 50vh;
    position: relative;
}

.fondo--claro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color_claro);
    width: 100%;
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
}

.fondo--oscuro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color_oscuro);
    width: 100%;
    height: 50vh;
    clip-path: polygon(80% 0, 100% 0, 100% 65%, 0 100%, 0 30%);
}

.header {
    padding: 0 5vw 0 5vw;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header--logo {
    height: 80%;
    align-self: flex-end;
    z-index: 2;
}

.header__menuh {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.header__menuh--icon {
    width: 5vw;
    height: 5vw;
    z-index: 4;
    background-image: url(../icon/menuh.svg);
    background-size: cover;
}

.header--title {
    color: #925028;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    z-index: 2;
    width: 80%;
}

.slogan {
    font-family: var(--poppins);
    color: var(--color_secundario);
    font-size: 5vw;
    text-align: center;
    z-index: 2;
    font-weight: 600;
}



/* Menu Responsive */
.menu__bg {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;

}

.menu__bg a {
    z-index: 2;
    color: var(--color_secundario);
    text-decoration: none;
    width: fit-content;
    font-family:var(--poppins);
    letter-spacing: 0.25rem;
    font-size: 5vw;
    margin-bottom: 5%;
}

.menu_a {
    width: 5vw;
    height: 5vw;
    z-index: 4;
    background-image: url(../icon/closeh.svg);
    background-size: cover;
}

.menu_a_2 {
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}



/* Seccion Dos (Presentacion) */
.Seccion_dos {
    font-family: var(--poppins);
    color: var(--color_secundario);
    padding: 10vw;
    padding-bottom: 0;
    margin-bottom: 15%;
    width: 100vw;
}

.Seccion_dos h1 {
    font-size: var(--title_size);
    text-align: left;
    margin-bottom: 1rem;
}

.Seccion_dos p {
    font-size: var(--parag_size);
    text-align: left;
}



/* Seccion Tres (Productos) */
.Seccion_tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw 0 5vw;
    width: 100vw;
    margin-bottom: 15%;
}

.Seccion_tres__card {
    background-color: var(--color_claro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    margin-bottom: 2rem;
}

.Seccion_tres__card--up {
    font-family: var(--poppins);
    color: var(--color_secundario);
    margin-bottom: 2rem;
}

.Seccion_tres__card--up h2 {
    text-align: left;
    font-size: var(--title_size);
    margin-bottom: 0.5rem;
}

.Seccion_tres__card--up p{
    font-size: var(--parag_size);
}

.Seccion_tres__card--down {
    height: 50vw;
    background-image: url(../img/BD1.jpg);
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    width: 100%;
    position: relative;
}

.Seccion_tres__card--down::after {
    content: 'Ver Galeria';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color_secundario);
    border-radius: 0 0 20px 20px;
    color: var(--color_oscuro);
    text-align: center;
    width: 100%;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 4vw;
}



.Seccion_tres__card2 {
    background-color: var(--color_claro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.Seccion_tres__card--up2 {
    font-family: var(--poppins);
    color: var(--color_secundario);
    margin-bottom: 2rem;
}

.Seccion_tres__card--up2 h2 {
    text-align: left;
    font-size: var(--title_size);
    margin-bottom: 0.5rem;
}

.Seccion_tres__card--up2 p {
    font-size: var(--parag_size);
}

.Seccion_tres__card--down2 {
    height: 50vw;
    background-image: url(../img/AR6.jpg);
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    width: 100%;
    position: relative;
}

.Seccion_tres__card--down2::after {
    content: 'Ver Galeria';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color_secundario);
    border-radius: 0 0 20px 20px;
    color: var(--color_oscuro);
    text-align: center;
    width: 100%;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 4vw;
}



/* Seccion Cuatro (Delivery) */
.Seccion_cuatro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
    margin-bottom: 15%;
}

.Seccion_cuatro--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Seccion_cuatro--title {
    color: var(--color_secundario);
    font-family: var(--poppins);
    text-align: left;
    font-size: var(--title_size);
    margin-bottom: 1rem;
}

.Seccion_cuatro--txt {
    color: var(--color_secundario);
    font-family: var(--poppins);
    text-align: left;
    font-size: var(--parag_size);
}

.Seccion_cuatro--bike {
    margin-top: 10%;
    width: 80%;
}



/* Seccion Cinco (Contacto) */
.Seccion_cinco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--margenes);
    color: var(--color_secundario);
    margin-bottom: 10%;
}

.Seccion_cinco--title {
    font-family: var(--poppins);
    font-size: var(--title_size);
    margin-bottom: 1rem;
    padding: var(--margenes);
}

.Seccion_cinco__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: var(--margenes);
    margin-bottom: 2rem;
}

.Seccion_cinco p {
    font-family: var(--poppins);
    font-size: var(--parag_size);
    padding: var(--margenes);

}

.Seccion_cinco__info a {
    color: var(--color_secundario);
    font-family: var(--poppins);
    font-size: var(--parag_size);
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.Seccion_cinco__info img {
    width: 5vw;
}



/* Seccion Footer (Pie de Pagina) */
.Footer {
    width: 100vw;
    height: fit-content;
    padding: var(--margenes);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_oscuro);
}

.Footer__redes {
    display: flex;
    justify-content: center;
}

.Footer__redes a {
    width: 5vw;
    margin: 2rem 1rem 0 1rem;
}

.Footer__redes--icon {
    width: 100%;
}

.Footer--txt {
    font-family: var(--poppins);
    color: var(--color_secundario);
    text-align: center;
    padding-bottom: 1rem;
    font-size: var(--parag_size);
    margin-top: 1rem;
}

.Footer--txt a {
    color: var(--color_secundario);
}

/* Media Querys */

@media only screen and (min-width: 480px) and (orientation: landscape) {

    /* Seccion Uno (Hero) */
.Seccion_uno {
    height: 100vh;
}

.fondo--claro, .fondo--oscuro {
    height: 100vh;
}

.header {
}

.header--logo {
}

.header__menuh {
}

.header__menuh--icon {
}

.title {
    width: 60%;
}

.slogan {
}
}